.voronoi {
  position: absolute;
  z-index: -4;
  background-image: linear-gradient(to bottom right, black, #5452DD);
}

.main-header-area {

}

.header-area {
  z-index: 10;
}


#main {
  padding-top: 0;
  min-height: 100vh;
  color: #ad78c4;
}

.slider_area .title_text {
  margin-top: 30vh;
  margin-bottom: 2em;
}


.boxed-btn-white:hover {
  /* cursor: pointer; */
  background-color: transparent;
  color: white;
}

#cr {
  background-color: transparent;
  color: black;
}
#cr a {
  color: #5452DD;
}