/* Coolors Exported Palette - https://coolors.co/d8e0bb-b6cec7-86a3c3-7268a6-453a7d-6b3074 */

/* CSS HEX */
--pale-spring-bud: #d8e0bbff;
--opal: #b6cec7ff;
--air-superiority-blue: #86a3c3ff;
--dark-blue-gray: #7268a6ff;
--dark-slate-blue: #453a7dff;
--maximum-purple: #6b3074ff;

/* CSS HSL */
--pale-spring-bud: hsla(73, 37%, 81%, 1);
--opal: hsla(162, 20%, 76%, 1);
--air-superiority-blue: hsla(211, 34%, 65%, 1);
--dark-blue-gray: hsla(250, 26%, 53%, 1);
--dark-slate-blue: hsla(250, 37%, 36%, 1);
--maximum-purple: hsla(292, 41%, 32%, 1);

/* SCSS HEX */
$pale-spring-bud: #d8e0bbff;
$opal: #b6cec7ff;
$air-superiority-blue: #86a3c3ff;
$dark-blue-gray: #7268a6ff;
$dark-slate-blue: #453a7dff;
$maximum-purple: #6b3074ff;

/* SCSS HSL */
$pale-spring-bud: hsla(73, 37%, 81%, 1);
$opal: hsla(162, 20%, 76%, 1);
$air-superiority-blue: hsla(211, 34%, 65%, 1);
$dark-blue-gray: hsla(250, 26%, 53%, 1);
$dark-slate-blue: hsla(250, 37%, 36%, 1);
$maximum-purple: hsla(292, 41%, 32%, 1);

/* SCSS RGB */
$pale-spring-bud: rgba(216, 224, 187, 1);
$opal: rgba(182, 206, 199, 1);
$air-superiority-blue: rgba(134, 163, 195, 1);
$dark-blue-gray: rgba(114, 104, 166, 1);
$dark-slate-blue: rgba(69, 58, 125, 1);
$maximum-purple: rgba(107, 48, 116, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);
$gradient-right: linear-gradient(90deg, #d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);
$gradient-bottom: linear-gradient(180deg, #d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);
$gradient-left: linear-gradient(270deg, #d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);
$gradient-top-right: linear-gradient(45deg, #d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);
$gradient-bottom-right: linear-gradient(135deg, #d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);
$gradient-top-left: linear-gradient(225deg, #d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);
$gradient-bottom-left: linear-gradient(315deg, #d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);
$gradient-radial: radial-gradient(#d8e0bbff, #b6cec7ff, #86a3c3ff, #7268a6ff, #453a7dff, #6b3074ff);